body {
  margin: 0;
  padding: 0;
}

header {
  margin: 2em;
}

#main-menu {
  margin: 0;
  padding: 0;
  /*border-bottom: 1px solid #6d6d6d;*/
  display: inline-block;
  position: absolute;
}


#main-menu li {
  position: relative;
  list-style: none;
}

#main-menu > li {
  display: inline-block;
  float: left;
  height: 37px;
  background-color: #cfcfcf;
  font: 18px Georgia;
  color: black;
  padding: 0 20px;
  border: 1px solid #cfcfcf;
}

#main-menu > li > span {
  display: inline-block;
}

#main-menu::after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

#main-menu li:nth-child(n+2) {
  margin-left: 2px;
}

#main-menu>li:hover {
  font: 18px italic Georgia;
  color: #8c8c8c;
  background-color: #fff;
  border: 1px solid #6d6d6d;
  border-bottom: none;
}

#main-menu>li:hover > ul {
  display: inherit;
}

#main-menu ul {
  display: none;
  position: absolute;
  top:36px;
  left: -1px;
}

.sub-menu {
  box-sizing: border-box;
  border: 1px solid #6d6d6d;
  padding: 10px;
  background-color: #fff;
  width: 200px;
  border-top: none;
}

.sub-menu li {
  font: 14px italic Georgia;
  color: #000;
  padding: 5px 0; 
}

.sub-menu li:hover {
  color: #bd0707;
  cursor: pointer;
}

.sub-menu li {
  border-bottom: 1px solid #cfcfcf;
}

.sub-menu li:last-child {
  border-bottom:none;
}